<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}"
>

<head>

    <!--자동추가-->

    <style>
        .uploadDetail {
            width: 100%;
            background-color: gray;
        }
        .uploadDetail ul{
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }
        .uploadDetail ul li {
            list-style: none;
            padding: 10px;
        }
        .uploadDetail ul lu img{
            width: 20px;
        }
    </style>
</head>
<body>


<div layout:fragment="content">


    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="title" class="form-control" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="author">작성자</label>
        <input type="text" id="author" name="author" class="form-control" th:value="${post.author}" readonly>
    </div>
    <div>
        <label for="regDate">작성일</label>
        <input type="text" id="regDate" name="regDate" class="form-control" th:value="${#temporals.format(post.regDate,'yyyy-MM-dd HH:mm')}" readonly>
    </div>
    <div>
        <label for="regDate">내용</label>
        <textarea name="content" class="form-control" readonly>[[${post.content}]]</textarea>
    </div>
    <input type="hidden" id="detail_post_id" th:value="${post.postId}"/>


    <div>파일 목록</div>
    <div class="uploadDetail">

        <ul>

        </ul>
    </div>



    <hr class="my-4">


    <div class="comment_group" align="left" style=" width: 100%">


    </div>




    <th:block th:if="${member?.email != null }">

        <div class="mb-4" style="background: white; height: 120px ; height:140px; border: 1px solid black">
            <div class="comment_addBox" style="padding: 20px;">
                <div style="float: left" id="comment_main_author" th:value="${member?.email}">[[${member?.email}]]</div>
                <textarea class="form-control" rows="1" style="border: none" id="comment_main"
                          placeholder="댓글을 남겨보세요"></textarea>
                <input type="hidden" id="comment_post_id" th:value="${post.postId}"/>
                <button type="button" id="comment_main_submit" class="btn btn-default" style="float: right; ">등록
                </button>
            </div>
        </div>


    </th:block>




    <div class="row" style="display: block">


        <th:block th:if="${member?.email != null } and ${member?.email} == ${post.author}">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.postId})}'|"
                        type="button">글 수정
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg"
                        id="post_delete_btn"
                        type="button">글 삭제
                </button>
            </div>
        </th:block>

        <div class="col" >
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/post(num=${1})}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div>
</body>
</html>